<%- include("header") -%>
        <div class="box" id="heading">
            <h1><em> Enter marks</em></h1>
        </div>
        <div >
            <form  class="box" action="/calc_sgpa" method="post">
                <p><input name="first" placeholder="18xx81">
                <input name="second" placeholder="18xx82x"></p>
                <p><input name="third" placeholder="18xxp83">
                <input name="fourth" placeholder="18xxs84"></p>
                <p><input name="fifth" placeholder="18xx185">
                    <input type="hidden" name="sem" value="8">
                <button id="orient" type="submit">calculate</button></p>
            </form>
        </div>
    </body>
</html>