<%- include("header") -%>
<div class="home">
    <img src="https://jonnasuresh.files.wordpress.com/2013/03/vtu-logo.png" alt="vtu logo">
    <h1 id="home_head"><em> VTU sgpa & cgpa calculator</em></h1>
    <h2><em>calculate your sgpa and cgpa here</em></h2>
    <h1 class="reason"><em><%=reason %></em></h1>
    <form action="/failure" method="post">
        <button type="submit"><em>Retry</em></button>
    </form>
</div>
</body>
</html>