<%- include("header") -%>
        <div class="box" id="heading">
            <h1><em> Enter marks</em></h1>
        </div>
        <div >
            <form  class="box" action="/calc_sgpa" method="post">
                <p><input name="first" placeholder="18xx51">
                <input name="second" placeholder="18xx52"></p>
                <p><input name="third" placeholder="18xx53">
                <input name="fourth" placeholder="18xx54"></p>
                <p><input name="fifth" placeholder="18xx55">
                <input name="sixth" placeholder="18xx56"></p>
                <p><input name="seventh" placeholder="18xxl57">
                <input name="eighth" placeholder="18xxl58"></p>
                <p><input name="nineth" placeholder="Env studies">
                    <input type="hidden" name="sem" value="5">
                <button id="orient" type="submit">calculate</button></p>
            </form>
        </div>
    </body>
</html>