<%- include("header") -%>
<div class="home">
    <img src="https://jonnasuresh.files.wordpress.com/2013/03/vtu-logo.png" alt="vtu logo">
    <h1 id="home_head"><em> VTU sgpa & cgpa calculator</em></h1>
    <h2><em>calculate your sgpa and cgpa here</em></h2>
    <form action="/sgpa" method="post">
    <button><em>calculate sgpa</em></button>
    </form>
    <form action="/cgpa" method="post">
        <button><em>calculate cgpa</em></button>
    </form>
</div>
</body>
</html>