<%- include("header") -%>
<div class="home">
    <img src="https://jonnasuresh.files.wordpress.com/2013/03/vtu-logo.png" alt="vtu logo">
    <h1 id="home_head"><em> VTU sgpa & cgpa calculator</em></h1>
    <h2><em>calculate your sgpa and cgpa here</em></h2>
    <form action="/registeration" method="post">
        <input type="email" placeholder="email" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit"><em>Register</em></button>
    </form>
</div>
</body>
</html>