<%- include("header") -%>
<div class="home">
    <img src="https://jonnasuresh.files.wordpress.com/2013/03/vtu-logo.png" alt="vtu logo">
    <h1 id="home_head"><em> VTU sgpa & cgpa calculator</em></h1>
    <h2><em>your <%=grade %> is </em></h2>
    <h1 id="home_head"><em><%=marks %></em></h1>
    <form action="/" method="post">
        <button type="submit">home</button>
    </form>
</div>
</body>
</html>