<%- include("header") -%>
        <div class="box" id="heading">
            <h1><em> Select Semester</em></h1>
        </div>
        <div class="box">
            <form action="/phy" method="post">
                <button type="submit"><em>phy cycle</em></button>
            </form>
            <form  action="/chem" method="post">
                <button type="submit"><em>chem cycle</em></button>
            </form>
            <form class="item" action="/third" method="post">
                <button type="submit"><em>3rd sem</em></button>
            </form>
            <form class="item" action="/fourth" method="post">
                <button type="submit"><em>4th sem</em></button>
            </form>
            <form class="item" action="/fifth" method="post">
                <button type="submit"><em>5th sem</em></button>
            </form>
            <form class="item" action="/sixth" method="post">
                <button type="submit"><em>6th sem</em></button>
            </form>
            <form class="item" action="/seventh" method="post">
                <button type="submit"><em>7th sem</em></button>
            </form>
            <form class="item" action="/eighth" method="post">
                <button type="submit"><em>8th sem</em></button>
            </form>
        </div>
    </body>
</html>
