<%- include("header") -%>
        <div class="box" id="heading">
            <h1><em> Enter marks</em></h1>
        </div>
        <div>
            <form  class="box" action="/calc_sgpa" method="post">
                <p><input name="first" placeholder="18mat31">
                <input name="second" placeholder="18xx32"></p>
                <p><input name="third" placeholder="18xx33">
                <input name="fourth" placeholder="18xx34"></p>
                <p><input name="fifth" placeholder="18xx35">
                <input name="sixth" placeholder="18xx36"></p>
                <p><input name="seventh" placeholder="18xxl37">
                <input name="eighth" placeholder="18xxl38"></p>
                <p><input name="nineth" placeholder="18cpc39/49">
                    <input type="hidden" name="sem" value="3">
                <button id="orient" type="submit">calculate</button></p>
            </form>
        </div>
    </body>
</html>